<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-lazy-init="true">

	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="shiroDBRealm" />
		<property name="cacheManager" ref="cacheManager" />
	</bean>
	<bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />

	<!-- shiro过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/login.action" />
		<property name="successUrl" value="/welcome.action" />
		<property name="unauthorizedUrl" value="/login.action" />
		<property name="filterChainDefinitions">
			<value>
				/restapi.amap.com/**=anon
				/account/toAddAccount.action = perms["account:add"]
				/account/add.action = perms["account:add"]
				/account/delete.action = perms["account:delete"]
				/account/toEditAccount.action = perms["account:edit"]
				/account/edit.action = perms["account:edit"]
				/account/list.action = perms["account:list"]
				/account/toViewAccount.action = perms["account:list"]
				/account/role/add.action = perms["role:add"]
				/account/role/delete.action = perms["role:delete"]
				/account/role/edit.action = perms["role:edit"]
				/account/role/list.action = perms["role:list"]
				/account/role/get.action = perms["role:list"]
				/account/modifyDeleteStatus.action=perms["account:disableAndEnabled"]
				

				<!-- 简历 -->
               /zpJlInfo/list.action=perms["zpJlInfo:list"]
               /zpJlInfo/add.action=perms["zpJlInfo:add"]
               /zpJlInfo/toAdd.action=perms["zpJlInfo:add"]
               /zpJlInfo/delete.action=perms["zpJlInfo:delete"]
               /zpJlInfo/edit.action=perms["zpJlInfo:edit"]
               /zpJlInfo/toEdit.action=perms["zpJlInfo:edit"]
               /zpJlInfo/toView.action=perms["zpJlInfo:detail"]
               /zpJlInfo/toDown.action=perms["zpJlInfo:down"]
               /zpJlInfo/assignAuditPerson.action=perms["zpJlInfo:assignAuditPerson"]
               
               
               <!-- 客户 -->
               /zpCompanyInfo/list.action=perms["zpCompanyInfo:list"]
               /zpCompanyInfo/add.action=perms["zpCompanyInfo:add"]
               /zpCompanyInfo/toAdd.action=perms["zpCompanyInfo:add"]
               /zpCompanyInfo/modifyDeleteStatus.action=perms["zpCompanyInfo:disableAndEnabled"]
               /zpCompanyInfo/edit.action=perms["zpCompanyInfo:edit"]
               /zpCompanyInfo/toEdit.action=perms["zpCompanyInfo:edit"]
               /zpCompanyInfo/toView.action=perms["zpCompanyInfo:detail"]
               
                <!-- 职位 -->
               /zpCompanyJobInfo/list.action=perms["zpCompanyJobInfo:list"]
               /zpCompanyJobInfo/add.action=perms["zpCompanyJobInfo:add"]
               /zpCompanyJobInfo/toAdd.action=perms["zpCompanyJobInfo:add"]
               /zpCompanyJobInfo/modifyDeleteStatus.action=perms["zpCompanyJobInfo:disableAndEnabled"]
               /zpCompanyJobInfo/edit.action=perms["zpCompanyJobInfo:edit"]
               /zpCompanyJobInfo/toEdit.action=perms["zpCompanyJobInfo:edit"]
               /zpCompanyJobInfo/toView.action=perms["zpCompanyJobInfo:detail"]
               
                <!-- 简历匹配 -->
               /zpJobMatchingInfo/list.action=perms["zpJobMatchingInfo:list"]
               /zpJobMatchingInfo/matchCheck.action=perms["zpJobMatchingInfo:add"]
               /zpJobMatchingInfo/match.action=perms["zpJobMatchingInfo:add"]
               /zpJobMatchingInfo/toView.action=perms["zpJobMatchingInfo:detail"]
               
                 <!-- 评审管理 -->
               /zpJlInfo/auditList.action=perms["zpJlInfo:auditList"]
               /zpJlInfo/toAuditJlDetail.action=perms["zpJlInfo:toAuditJlDetail"]
               /zpJlInfo/auditOk.action=perms["zpJlInfo:auditOk"]
               
               <!-- 用户扩展信息-->
               /accountExpandInfo/list.action=perms["accountExpandInfo:list"]
               /accountExpandInfo/toEdit.action=perms["accountExpandInfo:edit"]
               /accountExpandInfo/toView.action=perms["accountExpandInfo:detail"]
               
               <!-- 企业对接管理 -->
               /zpRecommendFlowInfo/companyInterfaceList.action=perms["companyInterface:list"]
               /zpRecommendFlowInfo/recommandJlToCompany.action=perms["companyInterface:list"]
               /zpRecommendFlowInfo/companyRecommandFeedback.action=perms["companyInterface:list"]
               
               <!-- 猎头对接管理 -->
               /zpRecommendFlowInfo/headhunterInterfaceList.action=perms["headhunterInterface:list"]
               /zpRecommendFlowInfo/headhunterNotifyFeedback.action=perms["headhunterInterface:list"]
               /zpRecommendFlowInfo/isGotoInterviewFeedback.action=perms["headhunterInterface:list"]
               /zpRecommendFlowInfo/interviewerFeedback.action=perms["headhunterInterface:list"]
               
                <!-- 推荐流程管理 -->
               /zpRecommendFlowInfo/list.action=perms["zpRecommendFlowInfo:list"]
               /zpRecommendFlowInfo/toView.action=perms["zpRecommendFlowInfo:detail"]
               

				/user/**.action = perms["user:list"]
				
				/customer/**.action = perms["customer:list"]
				/project/**.action = perms["project:list"]
				
				/** = authc
				
			</value>
		</property>
	</bean>
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

	<!-- 验证数据类 -->
	<bean id="shiroDBRealm" class="com.loiot.baqi.security.shiro.ShiroDBRealm" />

</beans>